{% extends 'base.html' %}

{% block title %}Create a user{% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<img src= {{user.image_url}} alt="Test" style="width:250px;height:250px;"><br>

<form action = "/users/{{ user.id }}/edit">
    <button type = 'submit'>Edit</button>
</form>

<form action = "/users/{{ user.id }}/delete">
    <button type = 'submit'>Delete</button>
</form>

<a href="/">Back</a>

{% for msg in get_flashed_messages() %}
    <p>{{msg }}</p>
{% endfor %}

{% endblock %}